.background {
  background-image: url("./images/background-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

body[arco-theme="dark"] .background {
  background-image: url("./images/background-dark.jpg");
}

.form-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #fff;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

body[arco-theme="dark"] .form-panel {
  background-color: #17171a;
}

.login-form {
  width: 340px;
}

.page-layout {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .form-panel {
    position: absolute !important;
    z-index: 2 !important;
    width: 100% !important;
  }
}
