.theme-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-right {
  margin-right: 8px;
  font-size: 16px;
  transform: translateY(1px);
}

.arco-dropdown-menu {
  max-height: 100%;
}

.arco-modal-simple .arco-modal-title {
  text-align: left;
}

.arco-modal-simple .arco-modal-footer {
  text-align: right;
}

/* Make profile/menu button transparent but show background on hover/focus */
.user-profile-container .arco-btn:not(.arco-btn-disabled) {
  background-color: transparent;
}
.user-profile-container .arco-btn:not(.arco-btn-disabled):hover,
.user-profile-container .arco-btn:not(.arco-btn-disabled):focus {
  background-color: var(--color-bg-1);
}
